<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dfaefb">  <td>16/12/08 14:33:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateContractcard.setUp()[pri:0, instance:testCases.CreateContractcard@234bef66]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>16/12/08 14:33:39</td>   <td>12618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateContractcard.testCreateContractcard()[pri:0, instance:testCases.CreateContractcard@234bef66]">testCreateContractcard</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>16/12/08 14:34:11</td>   <td>44386</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateContractcard.teardown()[pri:0, instance:testCases.CreateContractcard@234bef66]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
</table>
